*.swp
*.py[cod]
*.log
*.so
*.egg
*.html
*.o
*.fai
*.vcf*
*.cvg*

CMakeCache.txt
cmake_install.cmake

cache_*/
build/
CMakeFiles/
*.egg-info/

.vscode/
.idea/
.DS_Store
venv/
.ipynb_checkpoints/

learn_from/
tests/data/Homo_sapiens_assembly38.*
tests/data/hg19.NC_012920.fasta
tests/data/hg19.NC_012920.fasta.fai
trash/

